/* General Styles */
body {
    font-family: 'Urbanist', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Set background color to white */
    color: #000; /* Set default text color */
}

header, section, footer {

    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
header {
    background-color: #f8f8f8; /* Light gray background */
    color: #333; /* Dark text color */
    text-align: center;
}

header img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-top: 10px; /* Adjust spacing */
}

/* Bio Styles */
#bio {
    background-color: #f8f8f8; /* Light gray background */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

#bio p {
    flex: 1 1 100%; /* Adjust flex properties */
}

/* Skills Styles */
#skills {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 20px;
}

#skills h2 {
    flex: 1 1 100%; /* Adjust flex properties */
    margin-bottom: 20px; /* Add spacing at the bottom */
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills h3 {
    margin-top: 10px;
}

/* Bootcamp Styles */
#bootcamp {
    background-color: #f8f8f8; /* Light gray background */
    padding: 20px;
}

/* Contact Styles */
#contact {
    background-color: #f8f8f8; /* Light gray background */
    padding: 20px;
}

#contact a {
    color: #007bff;
}

/* Portfolio Styles */
#portfolio {
    background-color: #f8f8f8; /* Light gray background */
    padding: 20px;
}


#image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

#image-gallery img {
    width: 100%;
    height: 150px; /* Set a fixed height for the grid items */
    object-fit: cover; /* Ensure images cover the entire grid cell */
    border-radius: 8px; /* Optional: Add border-radius for a rounded corner effect */
}




#video-embed {
    margin-top: 20px;
}

/* Footer Styles */
footer {
    background-color: #f8f8f8; /* Light gray background */
    color: #333; /* Dark text color */
    text-align: center;
    padding: 10px;
}

/* Media Queries for Responsiveness */
@media (min-width: 600px) {
    header img {
        margin-top: 0; /* Adjust spacing */
    }

    #bio p {
        flex: 1 1 50%; /* Adjust flex properties */
    }

    #skills h2 {
        flex: 1 1 50%; /* Adjust flex properties */
    }

    #portfolio {
        display: flex;
        flex-direction: column;
    }

    #video-embed {
        order: -1; /* Move video above the gallery */
    }
}
